.footer {
    background-color: #191919;
    padding: 70px 0 0;
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 40px;
        .box {
            h3 {
                color: white;
                font-size: 50px;
                margin: 0 0 20px;
            }
            .social {
                display: flex;
                li {
                    margin-right: 10px;
                    a {
                        background-color: #313131;
                        color: #b9b9b9;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        width: 50px;
                        height: 50px;
                        font-size: 20px;
                        transition: var(--main-transition);
                    }
                }
                .facebook:hover {
                    background-color: #1877f2;
                }
                .twitter:hover {
                    background-color: #1da1f2;
                }
                .youtube:hover {
                    background-color: #ff0000;
                }
            }
            .text {
                line-height: 2;
                color: #b9b9b9;
            }
            .links li {
                padding: 15px 0;
                transition: var(--main-transition);
                a {
                    color: #b9b9b9;
                    transition: var(--main-transition);
                }
                a::before {
                    font-family: "Font Awesome 5 Free";
                    content: "\F101";
                    font-weight: 900;
                    margin-right: 10px;
                    color: var(--main-color);
                }
            }
            li:not(:last-child) {
                border-bottom: 1px solid #444;
            }
            li:hover {
                padding-left: 10px;
                a {
                    color: white;
                }
            }
            .line {
                display: flex;
                align-items: center;
                color: #b9b9b9;
                margin-bottom: 30px;
                i {
                    font-size: 25px;
                    color: var(--main-color);
                    margin-right: 10px;
                }
                .info {
                    line-height: 1.7;
                    flex: 1;
                    span {
                        display: block;
                    }
                }
            }
        }
    }
    .copyright {
        padding: 25px 0;
        text-align: center;
        color: white;
        margin: 50px 0 0;
        border-top: 1px solid #444;
    }

}

@media (max-width: 767px) {
    .footer {
        text-align: center;
    }
}
@media (max-width: 767px) {
    .footer .box .social {
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .footer .box .line {
        flex-direction: column;
    }
}
@media (max-width: 767px) {
    .footer .box .line i {
        margin-right: 0;
        margin-bottom: 15px;
    }
}
