/* Start Landing */
.landing {
    min-height: 100vh;
    background-color: #1f2021;
    background-image: url("../../storage/app/public/images/main-02.webp");
    background-size: cover;
    position: relative;
  }
  .landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 30%);
  }
  .landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    display: flex;
    justify-content: flex-end;
  }
  .landing .text .content {
    max-width: 500px;
  }
  @media (max-width: 767px) {
    .landing .text {
      width: 100%;
    }
    .landing .text .content {
      max-width: 100%;
    }
  }
  .landing .text .content h2 {
    font-size: 50px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .landing .text .content p {
    font-size: 32px;
    line-height: 1.5;
  }
  .landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
  }
  @media (max-width: 767px) {
    .landing .change-background {
      display: none;
    }
  }
  .landing .fa-angle-left {
    left: 30px;
  }
  .landing .fa-angle-right {
    right: 30px;
  }
  .landing .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
  }
  .landing .bullets li {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
  }
  .landing .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
  }
  /* End Landing */

  /* Start Landing */
.landing {
    position: relative;
  }
  .landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
  }
  .landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
  }
  .landing .text {
    flex: 1;
  }
  @media (max-width: 991px) {
    .landing .text {
      text-align: center;
    }
  }
  .landing .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
  }
  @media (max-width: 767px) {
    .landing .text h1 {
      font-size: 28px;
    }
  }
  .landing .text p {
    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0 0;

    max-width: 500px;
  }
  @media (max-width: 991px) {
    .landing .text p {
      margin: 10px auto;
    }
  }
  @media (max-width: 767px) {
    .landing .text p {
      font-size: 18px;
    }
  }
  .landing .image img {
    position: relative;
    width: 600px;
    animation: up-and-down 5s linear infinite;
  }
  @media (max-width: 991px) {
    .landing .image {
      display: none;
    }
  }
  .landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
  }
  .landing .go-down:hover {
    color: var(--main-color-alt);
  }
  .landing .go-down i {
    animation: bouncing 1.5s infinite;
  }
  /* End Landing */
