.uslugi {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-size: cover;
    .clog {
        text-align: center;
        margin-bottom: 20px;
        p {
            margin-bottom: 20px;
            font-size: 20px;
        }
    }
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 40px;
        .box {
            box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
            background-color: white;
            border-radius: 6px;
            overflow: hidden;
            transition: transform var(--main-transition),
                box-shadow var(--main-transition);
            img {
                width: 100%;
                max-width: 100%;
            }
            .content {
                padding: 20px;
                h3 {
                    margin: 0;
                }
                p {
                    margin: 10px 0 0;
                    line-height: 1.5;
                    color: #777;
                }
            }
            &:hover {
                transform: translateY(-10px);
                box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
                .info i {
                    animation: moving-arrow 0.6s linear infinite;
                }
            }
        }
        .info {
            padding: 20px;
            border-top: 1px solid #e6e6e7;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                color: var(--main-color);
                font-weight: bold;
            }
            i {
                color: var(--main-color);
            }
        }
    }
}
