* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #e0b117;
  --main-color-alt: #e0b117;
  --main-transition: 0.3s;
  --section-padding: 100px;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
  --transparent-color: rgba(255, 166, 0, 0.239);
  --section-padding: 100px;
}

html {
  scroll-behavior: smooth;
}

html body {
  font-family: "Cairo", sans-serif;
}

html body a {
  text-decoration: none;
}

html body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html body .container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

html body .main-title {
  text-transform: uppercase;
  margin: 0 auto 80px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
}

html body .main-title::after,
html body .main-title::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

html body .main-title::after {
  left: -30px;
}

html body .main-title::before {
  right: -30px;
}

html body .main-title:hover {
  color: var(--main-color);
  border: 2px solid var(--main-color-alt);
  transition-delay: 0.5s;
  cursor: pointer;
}

html body .spikes {
  position: relative;
}

html body .spikes::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}

/* Small */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.header {
  background-color: #fff;
  position: relative;
  box-shadow: 0 0 10px #ddd;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.header .container .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .container .main-nav {
  display: flex;
}

.header .container .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  overflow: hidden;
  font-size: 18px;
  transition: var(--main-transition);
}

.header .container .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}

.header .container .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}

.header .container .main-nav > li > a:hover::before {
  left: 0;
}

@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
  }
}

@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}

@media (max-width: 767px) {
  .header .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}

.design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  height: 800px;
  position: relative;
  background-image: url(/images/item.webp?ce955bb053fcc4d252ba1a1bc6a00e4e);
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.design .image,
.design .text {
  position: relative;
  z-index: 2;
  flex: 1;
}

.design .image {
  text-align: center;
}

.design .image img {
  position: relative;
  bottom: -150px;
}

.design .text {
  color: white;
  padding: 50px;
  background-color: var(--transparent-color);
}

.design .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.design .text ul li {
  padding: 15px 0;
}

.design .text ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f0d1";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;
}

.design::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 767px) {
  .design .image {
    display: none;
  }
}

.landing {
  min-height: 100vh;
  background-color: #1f2021;
  background-image: url(/images/main-02.webp?6185f4c36268650acbe93cfe8d6ce328);
  background-size: cover;
  position: relative;
}

.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
  display: flex;
  justify-content: flex-end;
}

.landing .text .content {
  max-width: 500px;
}

.landing .text .content h2 {
  font-size: 50px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}

.landing .text .content p {
  font-size: 32px;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }

  .landing .text .content {
    max-width: 100%;
  }
}

.uslugi {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-size: cover;
}

.uslugi .clog {
  text-align: center;
  margin-bottom: 20px;
}

.uslugi .clog p {
  margin-bottom: 20px;
  font-size: 20px;
}

.uslugi .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
}

.uslugi .container .box {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  transition: transform var(--main-transition), box-shadow var(--main-transition);
}

.uslugi .container .box img {
  width: 100%;
  max-width: 100%;
}

.uslugi .container .box .content {
  padding: 20px;
}

.uslugi .container .box .content h3 {
  margin: 0;
}

.uslugi .container .box .content p {
  margin: 10px 0 0;
  line-height: 1.5;
  color: #777;
}

.uslugi .container .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.uslugi .container .box:hover .info i {
  -webkit-animation: moving-arrow 0.6s linear infinite;
          animation: moving-arrow 0.6s linear infinite;
}

.uslugi .container .info {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.uslugi .container .info a {
  color: var(--main-color);
  font-weight: bold;
}

.uslugi .container .info i {
  color: var(--main-color);
}

.materialy {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}

.materialy .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.materialy .container img {
  width: 100%;
  height: 80%;
}

.materialy .container .box {
  background-color: white;
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.13), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  counter-increment: services;
  transition: var(--main-transition);
  position: relative;
}

.materialy .container .box h3 {
  text-align: center;
  margin: 20px 0 40px;
  font-size: 25px;
  color: var(--main-color);
}

.materialy .container .box .info {
  padding: 15px;
  position: relative;
  background-color: #f9f9f9;
  text-align: right;
}

.materialy .container .box .info p {
  color: var(--main-color);
  font-size: 16px;
  text-align: end;
}

.materialy .container .box .info::before {
  content: "0" counter(services);
  position: absolute;
  background-color: var(--main-color);
  color: white;
  left: 0;
  top: 0;
  height: 100%;
  width: 60px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}

.materialy .container .box .info::after {
  content: "";
  position: absolute;
  background-color: #d5d5d5;
  top: 0;
  left: 60px;
  width: 30px;
  height: calc(100% + 0.4px);
  transform: skewX(-30deg);
}

.materialy .container .box::before {
  content: "";
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  top: -3px;
  background-color: var(--main-color);
  position: absolute;
  width: 0;
  transition: var(--main-transition);
}

.materialy .container .box:hover {
  transform: translateY(-10px);
}

.materialy .container .box:hover::before {
  width: 100%;
}

.footer {
  background-color: #191919;
  padding: 70px 0 0;
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.footer .container .box h3 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
}

.footer .container .box .social {
  display: flex;
}

.footer .container .box .social li {
  margin-right: 10px;
}

.footer .container .box .social li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition);
}

.footer .container .box .social .facebook:hover {
  background-color: #1877f2;
}

.footer .container .box .social .twitter:hover {
  background-color: #1da1f2;
}

.footer .container .box .social .youtube:hover {
  background-color: #ff0000;
}

.footer .container .box .text {
  line-height: 2;
  color: #b9b9b9;
}

.footer .container .box .links li {
  padding: 15px 0;
  transition: var(--main-transition);
}

.footer .container .box .links li a {
  color: #b9b9b9;
  transition: var(--main-transition);
}

.footer .container .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}

.footer .container .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}

.footer .container .box .links li:hover {
  padding-left: 10px;
}

.footer .container .box .links li:hover a {
  color: white;
}

.footer .container .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}

.footer .container .box .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}

.footer .container .box .line .info {
  line-height: 1.7;
  flex: 1;
}

.footer .container .box .line .info span {
  display: block;
}

.footer .footer-gallery img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}

.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}

@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .footer .box .social {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .footer .box .line {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .footer .box .line i {
    margin-right: 0;
    margin-bottom: 15px;
  }
}


